<app-hadith-view
  [title]="'الأربعين النووية'"
  [name]="'الحديث التاسع:[الأخذ بِالتيسير وترك التعسير]'"
  [hintText]="'اجعل بينك وبين الحرام وقاية واتقِ الشبهات ليَسْلَم دينك وعِرضك'"
  [audioUrl]="hadith.audioUrl"
  [phrases]="hadith.phrases"
  [explanation]="hadith.explanation"
  [box1Title]="'📌نبذة عن راوي الحديث'"
  [box1Items]="box1Items"
  [box2Title]="'📌سبب ورود الحديث'"
  [box2Items]="box2Items"
   [box3Title]="'📌 فوائد الحديث '"
  [box3Items]="box3Items"
   [box4Title]="'📌 فائدة: أنواع السؤال'"
  [box4Items]="box4Items"
  [routeBefore]="'/hadith/hadith-nawawi-40/nawawi-8'"
  [surahBefore]="'الحديث الثامن'"
  [routeAfter]="'/hadith/hadith-nawawi-40/nawawi-10'"
  [surahNext]="'الحديث العاشر'"
  [metaDescription]=" 'شرح وتدبر الحديث التاسع من الأربعين النووية (الأخذ بالتيسير وترك التعسير)، مع بيان سيرة الراوي أبي هريرة والقواعد الفقهية كالضرورات تبيح المحظورات.'"
  [metaKeywords]=" 'الأخذ بالتيسير, ترك التعسير, الحديث التاسع, الأربعون النووية, أبو هريرة, الضرورات تبيح المحظورات, الميسور لا يسقط بالمعسور, كثرة المسائل, شرح الحديث'"> 
  </app-hadith-view>
