<app-hadith-view
  [title]="'الأربعين النووية'"
  [name]="' الثاني عشر الحديث [الإشتغال بما يفيد]'"
  [hintText]="'من كمال إيمان المرء وتمام إسلامه أن يترك ما لا مصلحة له فيه ولا يعنيه.'"
  [audioUrl]="hadith.audioUrl"
  [phrases]="hadith.phrases"
  [explanation]="hadith.explanation"
  [box1Title]="'📌 فوائد الحديث '"
  [box1Items]="box1Items"
  [box2Title]="'📌 فائدة'"
  [box2Items]="box2Items"
  [routeBefore]="'/hadith/hadith-nawawi-40/nawawi-11'"
  [surahBefore]="'الحديث الحادي عشر'"
  [routeAfter]="'/hadith/hadith-nawawi-40/nawawi-13'"
  [surahNext]="'الحديث الثالث عشر'"
  [metaDescription]="'شرح وتدبر الحديث الثاني عشر من الأربعين النووية، مع تفسير المفردات وبيان حكم لقمان الحكيم والحسن البصري في ترك الفضول والاشتغال بما ينفع.' "
  [metaKeywords]="  'الحديث الثاني عشر, الأربعون النووية, من حسن إسلام المرء, ترك ما لا يعنيه, الاشتغال بما يفيد, جوامع الكلم, آداب الخير, شرح الحديث'">
</app-hadith-view>