<app-hadith-view
  [title]="'الأربعين النووية'"
  [name]="'الحديث السادس:[الحلال والحرام]'"
  [hintText]="'اجعل بينك وبين الحرام وقاية واتقِ الشبهات ليَسْلَم دينك وعِرضك'"
  [audioUrl]="hadith.audioUrl"
  [phrases]="hadith.phrases"
  [explanation]="hadith.explanation"
  [box1Title]="'📌 فوائد الحديث '"
  [box1Items]="box1Items"
  [box2Title]="'📌 أهمية الحديث '"
  [box2Items]="box2Items"
   [box3Title]="'📌 فائدة 1 '"
  [box3Items]="box3Items"
   [box4Title]="'📌 فائدة 2 '"
  [box4Items]="box4Items"
  [routeBefore]="'/hadith/hadith-nawawi-40/nawawi-5'"
  [surahBefore]="'الحديث الخامس'"
  [routeAfter]="'/hadith/hadith-nawawi-40/nawawi-7'"
  [surahNext]="'الحديث السابع'"
  [metaDescription]=" 'شرح وتدبر الحديث السابع من الأربعين النووية (الدين النصيحة)، مع بيان حكم النصيحة وآدابها وكيف تكون لله ولكتابه ولرسوله ولأئمة المسلمين وعامتهم.' "
  [metaKeywords]=" 'الدين النصيحة, الحديث السابع, الأربعون النووية, تميم بن أوس الداري, حكم النصيحة, آداب النصيحة, النصيحة لله ولكتابه, شرح الحديث' ">
</app-hadith-view>