<app-hadith-view
  [name]="' الحديث الخامس عشر[من خصال الإِيمان]'"
  [hintText]="'ليس اكرام الضيف بطيب الطعام ، بل بطيب النفس ، وبشاشه الوجه.'"
  [audioUrl]="hadith.audioUrl"
  [phrases]="hadith.phrases"
  [explanation]="hadith.explanation"
  [box1Title]="'📌 أنواع الجار وحقوقه'"
  [box1Items]="box1Items"
  [box2Title]="'📌 فوائد الحديث'"
  [box2Items]="box2Items"
  [box3Title]="'📌 تعقيبات'"
  [box3Items]="box3Items"
  [routeBefore]="'/hadith/hadith-nawawi-40/nawawi-14'"
  [surahBefore]="'الحديث الرابع عشر'"
  [routeAfter]="'/hadith/hadith-nawawi-40/nawawi-16'"
  [surahNext]="'الحديث السادس عشر'"
  [metaDescription]="'شرح وتدبر الحديث الخامس عشر (من كان يؤمن بالله واليوم الآخر فليقل خيراً أو ليصمت)، وبيان حقوق الجار الثلاثة، وآداب إكرام الضيف، وأثر الإيمان في توجيه السلوك.'"
  [metaKeywords]=" 'الحديث الخامس عشر, من خصال الإيمان, فليقل خيراً أو ليصمت, إكرام الجار, إكرام الضيف, حقوق الجار, آداب الضيافة, حفظ اللسان, شروح الأربعين النووية' ">
</app-hadith-view>