<app-hadith-view
  [title]="'الأربعين النووية'"
  [name]="'  الحديث الثالث عشر [أخوة الإِيمان والإِسلام]'"
  [hintText]="'الحديث ظاهره التساوي ولكن حقيقته التفاضل ، فاذا احب لاخيه مثله فقد دخل هو في جمله المفضولين.'"
  [audioUrl]="hadith.audioUrl"
  [phrases]="hadith.phrases"
  [explanation]="hadith.explanation"
  [box1Title]="'📌نبذة عن راوي الحديث'"
  [box1Items]="box1Items"
  [box2Title]="'📌 فوائد الحديث '"
  [box2Items]="box2Items"
  [routeBefore]="'/hadith/hadith-nawawi-40/nawawi-12'"
  [surahBefore]="'الحديث الثاني عشر'"
  [routeAfter]="'/hadith/hadith-nawawi-40/nawawi-14'"
  [surahNext]="'الحديث الرابع عشر'"
  [metaDescription]="'شرح وتدبر الحديث الثاني عشر من الأربعين النووية، مع تفسير المفردات وبيان حكم لقمان الحكيم والحسن البصري في ترك الفضول والاشتغال بما ينفع.' "
  [metaKeywords]="  'الحديث الثاني عشر, الأربعون النووية, من حسن إسلام المرء, ترك ما لا يعنيه, الاشتغال بما يفيد, جوامع الكلم, آداب الخير, شرح الحديث'">
</app-hadith-view>