<app-hadith-view
  [title]="'الأربعين النووية'"
  [name]="'الحديث الرابع:[أطوار خلق الإنسان وخاتمته]'"
  [hintText]="'دعاء الرسول ﷺ: يا مقلب القلوب والأبصار ثبت قلبي على دينك'"
  [audioUrl]="hadith.audioUrl"
  [phrases]="hadith.phrases"
  [explanation]="hadith.explanation"
  [box1Title]="'📌 فوائد'"
  [box1Items]="box1Items"
  [box2Title]="'📌 فوائد الحديث '"
  [box2Items]="box2Items"
  [routeBefore]="'/hadith/hadith-nawawi-40/nawawi-3'"
  [surahBefore]="'الحديث الثالث'"
  [routeAfter]="'/hadith/hadith-nawawi-40/nawawi-5'"
  [surahNext]="'الحديث الخامس'"
  [metaDescription]="'شرح وتدبر الحديث الرابع من الأربعين النووية (أطوار خلق الإنسان وخاتمته). بيان مراحل الجنين في بطن أمه، نفخ الروح، إثبات القدر وعلامات حسن وسوء الخاتمة.' "
  [metaKeywords]="'الحديث الرابع, أطوار خلق الإنسان, مراحل الجنين, نفخ الروح, الصادق المصدوق, القدر, حسن الخاتمة, سوء الخاتمة, الأربعون النووية, شرح الأربعين النووية' ">
</app-hadith-view>