<div class="sura-nav-minimal">
  <a class="nav-link prev" routerLink="{{RoutelinkBefore}}">
    <span class="arrow">→</span>
    <div class="nav-info">
      <span class="label">السابق</span>
      <span class="benefit-title">  {{ SurahBefore }}</span>
    </div>
  </a>

  <a class="nav-link next" routerLink="{{RoutelinkAfter}}">
    <div class="nav-info">
      <span class="label"> التالي</span>
      <span class="benefit-title">  {{ SurahNext }}</span>
    </div>
    <span class="arrow">←</span>
  </a>
<ng-content></ng-content>
</div>

