@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');

.basmala {
  font-family: 'Amiri', serif;
  margin-top: 90px;
  font-size: 2em;
  direction: rtl;
  text-align: center;
  white-space: nowrap; /* يمنع التفاف الكلمات لسطر جديد */
  line-height: 1.5;
  background: linear-gradient(to right, #2b0f0f, #bb7e7e);
  -webkit-background-clip: text;
  color: transparent;
  
}



.choose-text {
  font-size: x-large;
  font-weight: bold;
  display: inline-block;
  background: linear-gradient(to right, #421c1c, #bb7e7e);
  -webkit-background-clip: text;
  color: transparent;
  margin: 0;
 margin-top: 10px;
  
}
.choose-part {
  font-size: x-large;
  font-weight: bold;
  display: inline-block;
  background: linear-gradient(to right, #743737, #ebbebe);
  -webkit-background-clip: text;
  color: transparent;
  margin: 0;
  padding: 7px;
}

    .bismillah {
      margin-top: 40px;
      height: 30px;
      
    }

    .parts-container {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }

    .part-box {
     background: radial-gradient(circle, #ffffff, rgb(242, 239, 239), rgb(245, 221, 221));
      border: 1px solid #e8d1d1;
      border-radius: 15%;
      padding: 1rem 1rem;
      transition: transform 0.3s, box-shadow 0.3s, filter 0.3s;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      cursor: pointer;
      text-align: center;
      z-index: 2;
    }

    /* Responsiv design för mindre skärmar */
    @media (max-width: 768px) {
      .part-box {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
      }
    }

    