<div class="welcome"> 
  <div class="bird">🕊️</div>
  
  <!-- Vi ändrar detta till en h1 för att ge sidan maximal poäng hos Google SEO -->
  <h1 class="welcome-text">
    <span class="word" style="animation-delay: 0.3s;">أهلاً</span>
    <span class="word" style="animation-delay: 0.7s;">بك</span>
    <span class="word" style="animation-delay: 1.1s;">في</span>
    <span class="word" style="animation-delay: 1.5s;">رحاب</span>
    <span class="word" style="animation-delay: 1.9s;">التأمل</span>
    <span class="word" style="animation-delay: 2.3s;">والتدبر،</span>
    <span class="word" style="animation-delay: 2.7s;">للقرآن</span>
    <span class="word" style="animation-delay: 3.1s;">الكريم</span>
    <span class="word" style="animation-delay: 3.5s;">و</span>
    <span class="word" style="animation-delay: 3.9s;">الحديث</span>
    <span class="word" style="animation-delay: 4.3s;">الشريف</span>
  </h1>
</div>

<div class="menu">
  <div class="card" routerLink="/app-quran-parts" routerLinkActive="active">
    <span class="material-icons quran-icon">menu_book</span>
    <div class="card-title">القرآن الكريم</div>
  </div>

  <div class="card" routerLink="/hadith" routerLinkActive="active">
    <span class="material-icons hadith-icon">emoji_objects</span>
    <div class="card-title">أحاديث رسول الله</div>
  </div>
<!--
  <div class="card" routerLink="/fiqh" routerLinkActive="active">
    <span class="material-icons fiqh-icon">balance</span>
    <div class="card-title">الفقه</div>
  </div>  -->
   <div class="card" routerLink="/quiz" routerLinkActive="active">
    <span class="material-icons fiqh-icon">balance</span>
    <div class="card-title">مسابقات إسلامية</div>
  </div>  
</div>