
    <div class="welcome"> 
  <div class="bird">🕊️</div>
  <div class="welcome-text">
  
    <span class="word" style="animation-delay: 0.3s;">أهلاً</span>
    <span class="word" style="animation-delay: 0.7s;">بك</span>
    <span class="word" style="animation-delay: 1.1s;">في</span>
    <span class="word" style="animation-delay: 1.5s;">رحاب</span>
    <span class="word" style="animation-delay: 1.9s;">التأمل</span>
    <span class="word" style="animation-delay: 2.3s;">والتدبر،</span>
    <span class="word" style="animation-delay: 2.7s;">حيث</span>
    <span class="word" style="animation-delay: 3.1s;">نعيش</span>
    <span class="word" style="animation-delay: 3.5s;">مع</span>
    <span class="word" style="animation-delay: 3.9s;">آيات</span>
    <span class="word" style="animation-delay: 4.3s;">الله</span>
    <span class="word" style="animation-delay: 4.7s;">بهـدوء</span>
    <span class="word" style="animation-delay: 5.1s;">ويقين.</span>
  </div>

  </div>
  




<div class="menu">
  <div class="card" routerLink="/app-quran-parts" routerLinkActive="active">
    <span class="material-icons quran-icon">menu_book</span>
    <div class="card-title">القرآن الكريم</div>
  </div>

  <div class="card">
    <span class="material-icons hadith-icon">emoji_objects</span>
    <div class="card-title">الحديث الشريف</div>
  </div>

  <div class="card">
    <span class="material-icons fiqh-icon">balance</span>
    <div class="card-title">الفقه</div>
  </div>
</div>

