<app-hadith-view
  [name]="'الحديث السادس عشر [النهي عن الغضب]'"
  [hintText]="'دع الشك وخذ اليقين، فالحق طمأنينة والباطل ريبة وقلق.'"
  [audioUrl]="hadith.audioUrl"
  [phrases]="hadith.phrases"
  [explanation]="hadith.explanation"
  [box1Title]="'📌أنواع الناس والغضب'"
  [box1Items]="box1Items"
  [box2Title]="'📌 كيفيه معالجه الغضب:'"
  [box2Items]="box2Items"
  [box3Title]="'📌 فوائد الحديث'"
  [box3Items]="box3Items"
  [routeBefore]="'/hadith/hadith-nawawi-40/nawawi-15'"
  [surahBefore]="'الحديث الخامس عشر'"
  [routeAfter]="'/home'"
  [surahNext]="'القائمة الرئيسية'"
  [metaDescription]=" 'شرح وتدبر الحديث السادس عشر (لا تغضب)، وبيان أنواع الغضب الثلاثة (الأخضر والأحمر والأسود)، وطرق علاج الغضب كالتعوذ والوضوء وكظم الغيظ.'"
  [metaKeywords]=" 'الحديث السادس عشر, النهي عن الغضب, لا تغضب, علاج الغضب, كظم الغيظ, أنواع الغضب, ضبط النفس, شروح الأربعين النووية' ">
</app-hadith-view> 