<div class="hadith-page-container">
  <app-surah-hint
    [surahName]=" hadith.title "
    [hintText]="hadith.hintText">
  </app-surah-hint>

  <app-next-before-surah-meny
    [RoutelinkBefore]="'/hadith/ryad/bab-1'" [SurahBefore]="'رجوع للقائمة'"
    [RoutelinkAfter]="'/hadith/ryad/intro'" [SurahNext]="'مقدمة باب الإخلاص'">
  </app-next-before-surah-meny>


  <!--  الإمام النووي-->
<div #box1 class="fawaed-box-container mini box1-container" [class.full-presentation]="isBox1Maximized" style="margin-top: 25px; position: relative;">
  <app-zoom-controls
    [isMaximized]="isBox1Maximized"  
    (onToggle)="toggleBox1Zoom(box1)" 
    (onZoomIn)="zoomInBox1(box1)" 
    (onZoomOut)="zoomOutBox1(box1)">
  </app-zoom-controls>

  
  <h2 class="benefit-title" style="font-size: 1.2em; margin: 0; font-weight: bold;"> الإمام النووي</h2>

   <div class="box-list-wrapper">
    <ul class="custom-presentation-list">
      <li *ngFor="let item of box1Items" [innerHTML]="item"></li>
    </ul>
  </div>
</div>


<app-footer-info />