<app-hadith-view
  [title]="'الأربعين النووية'"
  [name]="' الحديث العاشر [الحلال الطيب شرط القبول]'"
  [hintText]="'إن الله طيب لا يقبل إلا طيباً، فأطب مطعمك وملبسك لتستجاب دعوتك ويُقبل عملك.'"
  [audioUrl]="hadith.audioUrl"
  [phrases]="hadith.phrases"
  [explanation]="hadith.explanation"
  [box1Title]="'📌 شروط قبول الدعاء'"
  [box1Items]="box1Items"
  [box2Title]="'📌 فوائد الحديث'"
  [box2Items]="box2Items"
  [routeBefore]="'/hadith/hadith-nawawi-40/nawawi-9'"
  [surahBefore]="'الحديث التاسع'"
  [routeAfter]="'/hadith/hadith-nawawi-40/nawawi-11'"
  [surahNext]="'الحديث الحادي عشر'"
  [metaDescription]="'شرح وتدبر الحديث العاشر من الأربعين النووية، مع بيان مفردات الحديث وشروط قبول الدعاء، وأثر كسب الحلال على استجابة المناجاة وفضل تحري الطيب.' "
  [metaKeywords]=" 'الحديث العاشر, الأربعون النووية, إن الله طيب, كسب الحلال, شروط قبول الدعاء, أكل الطيبات, أداب الدعاء, شرح الحديث العاشر' ">
</app-hadith-view>