<h1 class="basmala">﴿ احاديث الأربعين النووية﴾</h1>

<div class="parts-container">
  <p class="choose-text">اختر من القائمة</p>
  
  <!-- الحديث الأول -->
  <div class="part-box" routerLink="/hadith/nawawi-1" routerLinkActive="active">
    <div class="choose-text">الحديث الأول: الأعمال بالنيات</div>
  </div>

  <!-- الحديث الثاني -->
  <div class="part-box" routerLink="/hadith/nawawi-2" routerLinkActive="active">
    <div class="choose-text">الحديث الثاني : مراتب الدين: الإسلام والإيمان والإحسان</div>
  </div>
</div>