<h1 class="basmala">﴿ احاديث الأربعين النووية﴾</h1>

<div class="parts-container">
  <p class="choose-text-1">اختر من القائمة</p>
  
  <!-- الحديث الأول -->
  <div class="part-box" routerLink="/hadith/nawawi-1" routerLinkActive="active">
    <div class="choose-text">الحديث الأول: الأعمال بالنيات</div>
  </div>

  <!-- الحديث الثاني -->
  <div class="part-box" routerLink="/hadith/nawawi-2" routerLinkActive="active">
    <div class="choose-text">الحديث الثاني : مراتب الدين: الإسلام والإيمان والإحسان</div>
  </div>


  <!-- الحديث الثالث -->
  <div class="part-box" routerLink="/hadith/nawawi-3" routerLinkActive="active">
    <div class="choose-text">الحديث الثالث : أركان الإسلام ودعائمه العظام</div>
  </div>


  <!--  الحديث الرابع-->
  <div class="part-box" routerLink="/hadith/nawawi-4" routerLinkActive="active">
    <div class="choose-text">الحديث الرابع : أطور خلق الإنسان وخاتمته</div>
  </div>


  <!-- الحديث الخامس  -->
  <div class="part-box" routerLink="/hadith/nawawi-5" routerLinkActive="active">
    <div class="choose-text">الحديث الخامس : إبطال المنكرات والبدع</div>
  </div>

    <!-- الحديث السادس  -->
  <div class="part-box" routerLink="/hadith/nawawi-6" routerLinkActive="active">
    <div class="choose-text">الحديث السادس : الحلال و الحرام</div>
  </div>

      <!-- الحديث السابع  -->
  <div class="part-box" routerLink="/hadith/nawawi-7" routerLinkActive="active">
    <div class="choose-text">الحديث السابع : الدين النصيحة</div>
  </div>
</div>