<h1 class="basmala">﴿ احاديث رسول الله ﷺ ﴾</h1> 

<div class="parts-container">
  <p class="choose-text-1">اختر من القائمة</p>

  <div class="part-box" routerLink="/hadith/ryad/nawawi-intro" routerLinkActive="active">
    <div class="choose-text"> "'الإمام النووي'" </div>
  </div>

  <div class="part-box" routerLink="/hadith/ryad/bab-1" routerLinkActive="active">
    <div class="choose-text"> باب الاخلاص واحضار النيه في جميع الاعمال والاحوال</div>
  </div>
 
    <div class="part-box" routerLink="/hadith/ryad/bab-2" routerLinkActive="active">
    <div class="choose-text"> باب التوبة</div>
  </div>
</div>