<app-hadith-view
  [title]="'الأربعين النووية'"
  [name]="'الحديث الخامس:[إبطال المنكرات والبدع]'"
  [hintText]="'الاسلام هو اتباع لا ابتداع'"
  [audioUrl]="hadith.audioUrl"
  [phrases]="hadith.phrases"
  [explanation]="hadith.explanation"
  [box1Title]="'📌 فوائد الحديث  '"
  [box1Items]="box1Items"
  [box2Title]="'📌أهمية الحديث'"
  [box2Items]="box2Items"
  [routeBefore]="'/hadith/hadith-nawawi-40/nawawi-4'"
  [surahBefore]="'الحديث الرابع'"
  [routeAfter]="'/hadith/hadith-nawawi-40/nawawi-6'"
  [surahNext]="'الحديث السادس'"
  [metaDescription]="'شرح وتدبر الحديث الخامس من الأربعين النووية (إبطال المنكرات والبدع) عن أم المؤمنين عائشة. ميزان الأعمال الظاهرة وقاعدة الاتباع في الإسلام.'  "
  [metaKeywords]=" 'الحديث الخامس, إبطال المنكرات والبدع, من أحدث في أمرنا, فهو رد, البدعة, الاتباع, عائشة أم المؤمنين, الأربعون النووية, شرح الأربعين النووية' ">
</app-hadith-view>