
  <!-- Lista med part -->
  <div class="parts-container">
    <p class="choose-text">اختر السورة</p>
    <div class="part-box" routerLink="/surah-78" routerLinkActive="active"> <div class="choose-text"> سورة النبأ </div> </div>
    <div class="part-box" routerLink="/surah-79" routerLinkActive="active"> <div class="choose-text"> سورة النازعات  </div> </div>
    <div class="part-box" routerLink="/surah-80" routerLinkActive="active"> <div class="choose-text"> سورة عبس  </div> </div>
    <div class="part-box" routerLink="/surah-81" routerLinkActive="active"> <div class="choose-text"> سورة التكوير  </div> </div>
    <div class="part-box" routerLink="/surah-82" routerLinkActive="active"> <div class="choose-text"> سورة الانفطار  </div> </div>
    <div class="part-box" routerLink="/surah-83" routerLinkActive="active"> <div class="choose-text"> سورة المطففين  </div> </div>  
    <!-- Lägg till fler om du vill -->
  </div> 

  