<app-hadith-view
  [name]="'الحديث الحادي عشر [الأخذ باليقين والبعد عن الشبهات]'"
  [hintText]="'دع الشك وخذ اليقين، فالحق طمأنينة والباطل ريبة وقلق.'"
  [audioUrl]="hadith.audioUrl"
  [phrases]="hadith.phrases"
  [explanation]="hadith.explanation"
  [box1Title]="'📌 نبذة عن راوي الحديث'"
  [box1Items]="box1Items"
  [box2Title]="'📌 فوائد الحديث'"
  [box2Items]="box2Items"
  [box3Title]="'📌 فائدة'"
  [box3Items]="box3Items"
  [routeBefore]="'/hadith/hadith-nawawi-40/nawawi-10'"
  [surahBefore]="'الحديث العاشر'"
  [routeAfter]="'/hadith/hadith-nawawi-40/nawawi-12'"
  [surahNext]="'الحديث الثاني عشر'"
  [metaDescription]="'شرح وتدبر الحديث الحادي عشر من الأربعين النووية، مع نبذة شاملة عن سبط رسول الله الحسن بن علي، وبيان قاعدة بناء الحياة على اليقين وترك الشك.' "
  [metaKeywords]="  'الحديث الحادي عشر, الأربعون النووية, دع ما يريبك, الحسن بن علي, الأخذ باليقين, ترك الشبهات, ريحانة رسول الله, شرح الحديث' ">
</app-hadith-view>