<app-hadith-view
  [title]="'الأربعين النووية'"
  [name]="'الحديث الأول:  [الأعمال بالنيات]'"
  [hintText]="'إجعل عملك خالص لله تعالى.'"
  [audioUrl]="hadith.audioUrl"
  [phrases]="hadith.phrases"
  [explanation]="hadith.explanation"
  [box1Title]="'📌 فوائد الحديث'"
  [box1Items]="box1Items"
  [quizQuestions]="hadith1Questions"
  [routeBefore]="'/home'"
  [surahBefore]="'القائمة الرئيسية'"
  [routeAfter]="'/hadith/hadith-nawawi-40/nawawi-2'"
  [surahNext]="'الحديث الثاني'"
  [metaDescription]="'شرح وتدبر الحديث الأول من الأربعين النووية (الأعمال بالنيات)، مع إضاءات من حياة الراوي عمر بن الخطاب رضي الله عنه وفوائد الحديث.'"
  [metaKeywords]="'الأعمال بالنيات, الحديث الأول, الأربعون النووية, عمر بن الخطاب, شرح الحديث'">
</app-hadith-view>