<app-hadith-view
  [title]="'الأربعين النووية'"
  [name]="'الحديث الثاني: [مراتب الدين: الإسلام والإيمان والإحسان]'"
  [hintText]="'كل مؤمن مسلم وليس كل مسلم مؤمن.'"
  [audioUrl]="hadith.audioUrl"
  [phrases]="hadith.phrases"
  [explanation]="hadith.explanation"
  [box1Title]="'📌 فوائد الحديث'"
  [box1Items]="box1Items"
  [box2Title]="'📌 أهمية الحديث'"
  [box2Items]="box2Items"
  [routeBefore]="'/hadith/hadith-nawawi-40/nawawi-1'"
  [surahBefore]="'الحديث الأول'"
  [routeAfter]="'/hadith/hadith-nawawi-40/nawawi-3'"
  [surahNext]="'الحديث الثالث'"
  [metaDescription]="'اقرأ واستمع إلى متن الحديث السابع مع الشرح الصوتي، تفسير المفردات، وأبرز الفوائد عن كون النصيحة فرض كفاية ومن أعظم الأعمال.'"
  [metaKeywords]="'الدين النصيحة, الحديث السابع, الأربعون النووية, تميم بن أوس الداري, حكم النصيحة, آداب النصيحة, النصيحة لله ولكتابه, شرح الحديث'">
</app-hadith-view>