<h1 class="basmala">﴿ احاديث رسول الله ﴾</h1>
<div class="parts-container">
  <p class="choose-text-1">اختر من القائمة</p>
  
  <!-- الحديث الأول -->
  <div class="part-box" routerLink="/hadith/ryad/intro" routerLinkActive="active">
    <div class="choose-text"> مقدمة باب الاخلاص واحضار النيه في جميع الاعمال والاحوال  </div>
  </div>
  <div class="part-box" routerLink="/hadith/ryad/hadith-1" routerLinkActive="active">
    <div class="choose-text"> الحديث الاول</div>
  </div>
  <div class="part-box" routerLink="/hadith/ryad/hadith-2" routerLinkActive="active">
    <div class="choose-text"> الحديث الثاني</div>
  </div>
  <div class="part-box" routerLink="/hadith/ryad/hadith-3" routerLinkActive="active">
    <div class="choose-text"> الحديث الثالث</div>
  </div>
  <div class="part-box" routerLink="/hadith/ryad/hadith-4" routerLinkActive="active">
    <div class="choose-text"> الحديث الرابع</div>
  </div>
  <div class="part-box" routerLink="/hadith/ryad/hadith-5" routerLinkActive="active">
    <div class="choose-text"> الحديث الخامس</div>
  </div>
  <div class="part-box" routerLink="/hadith/ryad/hadith-6" routerLinkActive="active">
    <div class="choose-text"> الحديث السادس</div>
  </div>
  <div class="part-box" routerLink="/hadith/ryad/hadith-7" routerLinkActive="active">
    <div class="choose-text"> الحديث السابع</div>
  </div>
  <div class="part-box" routerLink="/hadith/ryad/hadith-8" routerLinkActive="active">
    <div class="choose-text"> الحديث الثامن</div>
  </div>
  <div class="part-box" routerLink="/hadith/ryad/hadith-9" routerLinkActive="active">
    <div class="choose-text"> الحديث التاسع</div>
  </div>
  <div class="part-box" routerLink="/hadith/ryad/hadith-10" routerLinkActive="active">
    <div class="choose-text"> الحديث العاشر</div>
  </div>
  <div class="part-box" routerLink="/hadith/ryad/hadith-11" routerLinkActive="active">
    <div class="choose-text"> الحديث الحادي عشر</div>
  </div>
  <div class="part-box" routerLink="/hadith/ryad/hadith-12" routerLinkActive="active">
    <div class="choose-text"> الحديث الثاني عشر</div>
  </div>

</div>