<h1 class="basmala">﴿ احاديث الأربعين النووية﴾</h1>

<div class="parts-container">
  <p class="choose-text-1">اختر من القائمة</p>
  
  <!-- الحديث الأول -->
  <div class="part-box" routerLink="/hadith/hadith-nawawi-40/nawawi-1" routerLinkActive="active">
    <div class="choose-text">الحديث الأول: الأعمال بالنيات</div>
  </div>
  <!-- الحديث الثاني -->
  <div class="part-box" routerLink="/hadith/hadith-nawawi-40/nawawi-2" routerLinkActive="active">
    <div class="choose-text">الحديث الثاني : مراتب الدين: الإسلام والإيمان والإحسان</div>
  </div>


  <!-- الحديث الثالث -->
  <div class="part-box" routerLink="/hadith/hadith-nawawi-40/nawawi-3" routerLinkActive="active">
    <div class="choose-text">الحديث الثالث : أركان الإسلام ودعائمه العظام</div>
  </div>


  <!--  الحديث الرابع-->
  <div class="part-box" routerLink="/hadith/hadith-nawawi-40/nawawi-4" routerLinkActive="active">
    <div class="choose-text">الحديث الرابع : أطور خلق الإنسان وخاتمته</div>
  </div>


  <!-- الحديث الخامس  -->
  <div class="part-box" routerLink="/hadith/hadith-nawawi-40/nawawi-5" routerLinkActive="active">
    <div class="choose-text">الحديث الخامس : إبطال المنكرات والبدع</div>
  </div>

    <!-- الحديث السادس  -->
  <div class="part-box" routerLink="/hadith/hadith-nawawi-40/nawawi-6" routerLinkActive="active">
    <div class="choose-text">الحديث السادس : الحلال و الحرام</div>
  </div>

      <!-- الحديث السابع  -->
  <div class="part-box" routerLink="/hadith/hadith-nawawi-40/nawawi-7" routerLinkActive="active">
    <div class="choose-text">الحديث السابع : الدين النصيحة</div>
  </div>

        <!-- الحديث الثامن  -->
  <div class="part-box" routerLink="/hadith/hadith-nawawi-40/nawawi-8" routerLinkActive="active">
    <div class="choose-text">الحديث الثامن : حرمة المسلم</div>
  </div>

        <!-- الحديث التاسع  -->
  <div class="part-box" routerLink="/hadith/hadith-nawawi-40/nawawi-9" routerLinkActive="active">
    <div class="choose-text">الحديث التاسع : الأخذ بالتيسير وترك التعسير</div>
  </div>

        <!-- الحديث العاشر  -->
  <div class="part-box" routerLink="/hadith/hadith-nawawi-40/nawawi-10" routerLinkActive="active">
    <div class="choose-text">الحديث العاشر : الحلال الطيب شرط القبول</div>
  </div>

        <!-- الحديث الحادي عشر  -->
  <div class="part-box" routerLink="/hadith/hadith-nawawi-40/nawawi-11" routerLinkActive="active">
    <div class="choose-text">الحديث الحادي عشر : الأخذ باليقين والبعد عن الشبهات</div>
  </div>

        <!-- الحديث الثاني عشر  -->
  <div class="part-box" routerLink="/hadith/hadith-nawawi-40/nawawi-12" routerLinkActive="active">
    <div class="choose-text">الحديث الثاني عشر : الاشتغال بما يفيد</div>
  </div>

       <!-- الحديث الثالث عشر  -->
  <div class="part-box" routerLink="/hadith/hadith-nawawi-40/nawawi-13" routerLinkActive="active">
    <div class="choose-text">الحديث الثالث عشر : أخوة الإيمان و الإسلام</div>
  </div>

       <!-- الحديث الرابع عشر  -->
  <div class="part-box" routerLink="/hadith/hadith-nawawi-40/nawawi-14" routerLinkActive="active">
    <div class="choose-text">الحديث الرابع عشر : حرمة دم المسلم</div>
  </div>

       <!-- الحديث الخامس عشر  -->
  <div class="part-box" routerLink="/hadith/hadith-nawawi-40/nawawi-15" routerLinkActive="active">
    <div class="choose-text">الحديث الخامس عشر : من خصال الإيمان</div>
  </div>

       <!-- الحديث السادس عشر  -->
  <div class="part-box" routerLink="/hadith/hadith-nawawi-40/nawawi-16" routerLinkActive="active">
    <div class="choose-text">الحديث السادس عشر : النهي عن الغضب</div>
  </div>
</div>