<app-hadith-view
  [title]="'الأربعين النووية'"
  [name]="' الحديث السابع [ الدين النصيحة ]'"
  [hintText]="'من نصح أخاه سراً فقد نصحه، ومن نصحه علناً فقد فضحه.'"
  [audioUrl]="hadith.audioUrl"
  [phrases]="hadith.phrases"
  [explanation]="hadith.explanation"
  [box1Title]="'📌 حكم و أداب النصيحة '"
  [box1Items]="box1Items"
  [box2Title]="'📌 فوائد الحديث '"
  [box2Items]="box2Items"
  [routeBefore]="'/hadith/hadith-nawawi-40/nawawi-6'"
  [surahBefore]="'الحديث السادس'"
  [routeAfter]="'/hadith/hadith-nawawi-40/nawawi-8'"
  [surahNext]="'الحديث الثامن'"
  [metaDescription]="'شرح وتدبر الحديث الخامس من الأربعين النووية (إبطال المنكرات والبدع) عن أم المؤمنين عائشة. ميزان الأعمال الظاهرة وقاعدة الاتباع في الإسلام.'  "
  [metaKeywords]=" 'الحديث الخامس, إبطال المنكرات والبدع, من أحدث في أمرنا, فهو رد, البدعة, الاتباع, عائشة أم المؤمنين, الأربعون النووية, شرح الأربعين النووية' ">
</app-hadith-view>