<app-hadith-view
  [title]="'الأربعين النووية'"
  [name]="'الحديث الثالث: [أركان الإسلام ودعائمه العظام]'"
  [hintText]="'الإسلام له خمس دعائم وركائز'"
  [audioUrl]="hadith.audioUrl"
  [phrases]="hadith.phrases"
  [explanation]="hadith.explanation"
  [box1Title]="'📌 فوائد الحديث'"
  [box1Items]="box1Items"
  [routeBefore]="'/hadith/hadith-nawawi-40/nawawi-2'"
  [surahBefore]="'الحديث الثاني'"
  [routeAfter]="'/hadith/hadith-nawawi-40/nawawi-4'"
  [surahNext]="'الحديث الرابع'"
  [metaDescription]="'شرح وتدبر الحديث الثالث من الأربعين النووية (بني الإسلام على خمس)، مع بيان مفصل لأركان الإسلام الخمسة وشروط قبول العبادات وعقوبة ترك الصلاة والزكاة.' "
  [metaKeywords]="'بني الإسلام على خمس, أركان الإسلام, الحديث الثالث, الأربعون النووية, شهادة أن لا إله إلا الله, إقام الصلاة, إيتاء الزكاة, حج البيت, صوم رمضان, شرح الحديث' ">
</app-hadith-view>

