<app-hadith-view
  [title]="'الأربعين النووية'"
  [name]="'الحديث الثامن [حرمة المسلم]'"
  [hintText]="'حرمة دم المسلم وصيانة أمواله.'"
  [audioUrl]="hadith.audioUrl"
  [phrases]="hadith.phrases"
  [explanation]="hadith.explanation"
  [box1Title]="'📌 لماذا لم يذكر الحج والصيام في الحديث؟ '"
  [box1Items]="box1Items"
  [box2Title]="'📌 فوائد الحديث'"
  [box2Items]="box2Items"
  [box3Title]="'📌 فائدة'"
  [box3Items]="box3Items"
  [routeBefore]="'/hadith/hadith-nawawi-40/nawawi-7'"
  [surahBefore]="'الحديث السابع'"
  [routeAfter]="'/hadith/hadith-nawawi-40/nawawi-9'"
  [surahNext]="'الحديث التاسع'"
  [metaDescription]="'شرح وتدبر الحديث الثامن من الأربعين النووية (حرمة المسلم)، مع بيان أحكام الصلاة والزكاة وعصمة دماء وأموال المسلمين وحساب السرائر.' "
  [metaKeywords]=" 'حرمة المسلم, الحديث الثامن, الأربعون النووية, ابن عمر, عصموا دماءهم, أقم الصلاة, آتوا الزكاة, شرح الحديث, الأربعين النووية' ">
</app-hadith-view>