<h1 class="basmala">﴿ احاديث رسول الله ﴾</h1>
<div class="parts-container">
  <p class="choose-text-1">اختر من القائمة</p>
  
  <div class="part-box" routerLink="/hadith/ryad/bab-2/intro" routerLinkActive="active">
    <div class="choose-text"> مقدمة باب التوبة  </div>
  </div>
  <div class="part-box" routerLink="/hadith/ryad/bab-2/hadith-13" routerLinkActive="active">
    <div class="choose-text"> الحديث الاول</div>
  </div>
  <div class="part-box" routerLink="/hadith/ryad/bab-2/hadith-14" routerLinkActive="active">
    <div class="choose-text"> الحديث الثاني</div>
  </div>
  <div class="part-box" routerLink="/hadith/ryad/bab-2/hadith-15" routerLinkActive="active">
    <div class="choose-text"> الحديث الثالث</div>
  </div>
  <div class="part-box" routerLink="/hadith/ryad/bab-2/hadith-16" routerLinkActive="active">
    <div class="choose-text"> الحديث الرابع</div>
  </div>
  <div class="part-box" routerLink="/hadith/ryad/bab-2/hadith-17" routerLinkActive="active">
    <div class="choose-text"> الحديث الخامس</div>
  </div>
   <div class="part-box" routerLink="/hadith/ryad/bab-2/hadith-18" routerLinkActive="active">
    <div class="choose-text"> الحديث السادس</div>
  </div>
 <div class="part-box" routerLink="/hadith/ryad/bab-2/hadith-19" routerLinkActive="active">
    <div class="choose-text"> الحديث السابع</div>
  </div>
   <div class="part-box" routerLink="/hadith/ryad/bab-2/hadith-20" routerLinkActive="active">
    <div class="choose-text"> الحديث الثامن</div>
  </div>
   <div class="part-box" routerLink="/hadith/ryad/bab-2/hadith-21" routerLinkActive="active">
    <div class="choose-text"> الحديث التاسع</div>
  </div>
   <div class="part-box" routerLink="/hadith/ryad/bab-2/hadith-22" routerLinkActive="active">
    <div class="choose-text"> الحديث العاشر</div>
  </div>
   <div class="part-box" routerLink="/hadith/ryad/bab-2/hadith-23" routerLinkActive="active">
    <div class="choose-text"> الحديث الحادي عشر</div>
  </div>
   <div class="part-box" routerLink="/hadith/ryad/bab-2/hadith-24" routerLinkActive="active">
    <div class="choose-text"> الحديث الثاني عشر</div>
  </div>
</div>