<h1 class="basmala">﴿ احاديث رسول الله ﴾</h1>
<div class="parts-container">
  <p class="choose-text-1">اختر من القائمة</p>
  
  <div class="part-box" routerLink="/hadith/ryad/bab-2/intro" routerLinkActive="active">
    <div class="choose-text"> مقدمة باب التوبة  </div>
  </div>
  <div class="part-box" routerLink="/hadith/ryad/bab-2/hadith-13" routerLinkActive="active">
    <div class="choose-text"> الحديث الاول</div>
  </div>
  <div class="part-box" routerLink="/hadith/ryad/bab-2/hadith-2" routerLinkActive="active">
    <div class="choose-text"> الحديث الثاني</div>
  </div>
  <div class="part-box" routerLink="/hadith/ryad/bab-2/hadith-3" routerLinkActive="active">
    <div class="choose-text"> الحديث الثالث</div>
  </div>
  <div class="part-box" routerLink="/hadith/ryad/bab-2/hadith-4" routerLinkActive="active">
    <div class="choose-text"> الحديث الرابع</div>
  </div>
  <div class="part-box" routerLink="/hadith/ryad/bab-2/hadith-5" routerLinkActive="active">
    <div class="choose-text"> الحديث الخامس</div>
  </div>
  <div class="part-box" routerLink="/hadith/ryad/bab-2/hadith-6" routerLinkActive="active">
    <div class="choose-text"> الحديث السادس</div>
  </div>

</div>