<!-- Rubrik anpassad efter valt språk -->
<h1 class="basmala">
  {{ pageText.title[langService.currentLang()] }}
</h1>

<p style="color: hsl(0, 0%, 40%); margin-bottom: 20px; text-align: center;">
  {{ pageText.subTitle[langService.currentLang()] }}
</p>

<!-- Lista med delar -->
<div class="parts-container">
  <!-- Dynamisk text: "اختر الجزء" eller "Choose Part / Juz" -->
  <p class="choose-text">
    {{ pageText.chooseJuz[langService.currentLang()] }}
  </p>
  
  <!-- Al-Fatiha: skickar med nuvarande språk längst bak i URL:en -->
  <div class="part-box" 
       [routerLink]="['/surah', 'alfatiha', langService.currentLang()]" 
       routerLinkActive="active">   
    <div class="choose-text">
      {{ pageText.fatiha[langService.currentLang()] }}
    </div> 
  </div>
  
  <!-- Juz 30: skickar med nuvarande språk längst bak i URL:en -->
  <div class="part-box" 
       [routerLink]="['/surah', 'juz-30', langService.currentLang()]" 
       routerLinkActive="active">   
    <div class="choose-text">
      {{ pageText.juz30[langService.currentLang()] }}
    </div> 
  </div>
</div>