<app-hadith-view
  [title]="'الأربعين النووية'"
  [name]="'  الحديث الرابع عشر [حرمة دم المسلم]'"
  [hintText]="'حرمه دم المسلم على المسلم.'"
  [audioUrl]="hadith.audioUrl"
  [phrases]="hadith.phrases"
  [explanation]="hadith.explanation"
  [box1Title]="'📌 فوائد الحديث'"
  [box1Items]="box1Items"
  [box2Title]="'📌 مقارنة'"
  [box2Items]="box2Items"
  [routeBefore]="'/hadith/hadith-nawawi-40/nawawi-13'"
  [surahBefore]="'الحديث الثالث عشر'"
  [routeAfter]="'/hadith/hadith-nawawi-40/nawawi-15'"
  [surahNext]="'الحديث الخامس عشر'"
  [metaDescription]="'شرح وتدبر الحديث الرابع عشر عن ابن مسعود (لا يحل دم امرئ مسلم)، وبيان الأحوال الثلاثة التي يحل بها القتل: الثيب الزاني، النفس بالنفس، والتارك لدينه المفارق للجماعة، مع مناقشة حكم تارك الصلاة عند ابن الجوزية.' "
  [metaKeywords]="'الحديث الرابع عشر, لا يحل دم امرئ مسلم, ابن مسعود, الثيب الزاني, النفس بالنفس, التارك لدينه, المفارق للجماعة, عقوبة الزاني المحصن, حكم تارك الصلاة, ابن الجوزية, شروح الأربعين النووية'">
</app-hadith-view>